<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="defaultLogConfig" packages="">
    <properties>
        <property name="LOG_HOME">${wms3-location.log.path}</property>
        <property name="patternLayout">%date{yyyy-MM-dd HH:mm:ss.SSS}[%7relative %thread %-5level] %logger - %msg%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
        </Console>
        <RollingRandomAccessFile name="Business"
                                 fileName="${LOG_HOME}/business.log"
                                 filePattern="${LOG_HOME}/business-%d{yyyyMMdd}-%i.log">
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="WebService"
                                 fileName="${LOG_HOME}/webService.log"
                                 filePattern="${LOG_HOME}/webService-%d{yyyyMMdd}-%i.log">
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.jd" level="debug" additivity="true">
            <AppenderRef ref="Business"/>
        </AsyncLogger>
        <AsyncLogger name="org.apache.cxf" level="INFO" additivity="false">
            <AppenderRef ref="WebService"/>
        </AsyncLogger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>